html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  background: #1d1d1d;
  display: block;
  height: 100%;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 13rem;
  overflow-y: scroll;
  overflow-x: hidden;
  --color-green: rgb(0, 213, 95);
  --color-green2: #64ffda;
}
menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  display: block;
  list-style-type: disc;
  padding: 15px;
}
.main-menu {
  color: #909096;
  width: 13rem;
  background-color: #181818;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-menu__top {
  background: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.main-menu_nav a {
  color: #909096;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  line-height: 5rem;
  border-bottom: 1px solid #282828;
}
.social {
  color: #909096;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 10rem;
}
.social i {
  padding: 2px;
}
a {
  color: #909096;
  text-decoration: none;
}
a:hover {
  color: #66fcf1;
}
.logo span {
  font-family: font-file-82132;
  color: #66fcf1;
  margin-top: 30px;
  font-size: 2.7rem;
}
.about {
  margin-top: 300px;
  margin-left: 100px;
  margin-right: 400px;
}
h2 {
  color: #66fcf1;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
.footer-1 {
  color: #909096;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer-1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
}
.footer-2 {
  color: #a8b2d1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 1;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
}
#main-menu h1 {
  margin: 0px 0px 30px 4px;
  color: #66fcf1;
  font-family: "SF Mono";
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 400;
}
#main-menu h2 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  color: #ccd6f6;
}
#main-menu h3 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  margin-top: 10px;
  color: #8892b0;
  line-height: 0.9;
}
.heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
}
.img-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-background {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  width: 100%;
  
}
.project-li {
  position: relative;
  cursor: default;
}
.project-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  background-color: #112240;
  align-items: flex-start;
  border: 30px;
  border-radius: 50px;
}
.project-inner:hover{
    top: -10px;
    a{
      color: #66fcf1;
    }
    
}
.project-top{
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;
    color:#64ffda;
}
.project-top .project-animation{
  display: flex;
  margin-right: -10px;
}
.project-title {
  justify-content: center;
  margin: 0px 0px 10px;
  color: #ccd6f6;
  font-size: 22px;
  align-items: center;
  font-family:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif
}

.project-description {
  color: #a8b2d1;
  font-size: 17px;
}
.project-code {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
  text-size-adjust: 10px;
  font-size: 15px;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  color:#8892b0;
}
.skill-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
  align-self: center;
}
.skill-container div{
  background-color: #112240;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  font-family:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif
}
.skill-container div:hover{
  top: -60px;
}
.skill-container div h3{
  text-align: center;
  margin-bottom: 2rem;
  color: #64ffda;
}
.skill-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap:1rem;
  column-gap:3rem;
}
.skill-details{
  justify-content: center;
  align-items: center;
  display: flex;
  gap:1rem;
}

//MEDIA QUARIES(MEDIUM DEVİCES//

@media screen and (max-width:1024px) {
    .skill-container{
      grid-template-columns: 1fr;
    }
    .skill-container div{
      width: 80%;
      padding: 2rem;
      margin:0 auto;
    }
    .skill-content{
      padding: 1rem;
    }
    .main-menu_nav a {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
}


//MEDIA QUARIES(SMALL DEVİCES//

@media screen and (max-width:600px) {
  .skill-container{
    gap:1rem;
  }

}